@import '../variables.less';
@import '../mixins.less';

.ui-select {
  .ui-select-selector {
    position: relative !important;

    box-shadow: none !important;
    border-radius: 8px;
  }

  &-dropdown {
    background-color: @bg-base-container;
    .ring(@border-base-default, 1px, true);
    .ui-select-item-option-active {
      background-color: @bg-fill-deep-default;
    }
    .ui-select-item-option-selected:not(.ui-select-item-option-disabled) {
      background-color: @bg-fill-deep-secondary;
      font-weight: inherit;
    }
  }

  &-multiple {
    .ui-select-prefix {
      margin-inline-start: 0;
    }
    .ui-select-selection-wrap {
      margin: auto 0;
    }
  }
}

.sizeSelect(@size, @sizeRules) {
  .ui-select-size-@{size}.ui-select-single {
    height: auto;
    .ui-select-selector {
      @sizeRules();
    }
  }
  .ui-select-size-@{size} {
    .ui-select-selector {
      @sizeRules();
    }
  }
}

.sizeSelect(md, {
  padding: 0px 8px !important;
  height: 28px
});

.sizeSelect(lg, {
  padding: 0px 10px !important;
  height: 32px
});

.sizeSelect(xl, {
  padding: 0px 12px !important;
  height: 36px
});

.sizeSelect(xxl, {
  padding: 0px 12px !important;
  height: 40px
});

.typeSelect(@typeClassName, @borderTypeRules, @borderTypeHoverRules, @borderTypeFocusRules) {
  .ui-select {
    &.ui-select-type-@{typeClassName} {
      .ui-select-selector {
        @borderTypeRules();
      }
    }
  }

  .ui-select:not(.ui-select-disabled) {
    &.ui-select-type-@{typeClassName} {
      &:hover {
        .ui-select-selector {
          @borderTypeHoverRules();
        }
      }
    }
  }

  .ui-select.ui-select-focused:not(.ui-select-disabled) {
    &.ui-select-type-@{typeClassName} {
      .ui-select-selector {
        @borderTypeFocusRules();
      }
    }
  }
}

.typeSelect(border, {
  background: none !important;
  border-color: @border-base-secondary !important;
}, {
  border-color: @border-base-tertiary !important;
  background-color: @bg-fill-deep-default !important;
}, {
  border-color: @border-base-quaternary !important;
  background-color: @bg-base-container !important;
});

.typeSelect(borderless, {
  border-radius: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-color: transparent !important;
  background-color: transparent !important;

  --underline-color: @border-base-quaternary;

  &::before {
    content: '';
    /* 下划线样式 */
    position: absolute;
    bottom: 0px;
    left: 50%; /* 初始位置在中间 */
    width: 0; /* 初始宽度为0 */
    height: 1px;
    background-color: var(--underline-color); /* 下划线颜色 */

    /* 动画过渡效果 */
    transition: all 0.2s ease;
    transform-origin: center;
  }
}, {

}, {
  &::before {
    width: 100%; /* 展开到 full width */
    left: 0; /* 回到左侧起点 */
  }
});

.typeSelect(filledsecondary, {
  background-color: @bg-fill-deep-secondary !important;
  border-color: transparent !important;
}, {
  background-color: @bg-fill-deep-tertiary !important;
  border-color: @border-base-tertiary !important;
}, {
  border-color: @border-base-quaternary !important;
  background-color: @bg-base-container !important;
});

.typeSelect(filledbase, {
  background-color: @bg-base-container !important;
  border-color: transparent !important;
}, {
  background-color: @bg-base-container-secondary !important;
  border-color: transparent !important;
}, {
  border-color: @border-base-quaternary !important;
  background-color: @bg-base-container !important;
});
