@import '../variables.less';

.ui-divider {
  &-preset {
    &-light {
      border-color: @border-base-default;
    }
    &-medium {
      border-color: @border-base-secondary;
    }
    &-dark {
      border-color: @border-base-tertiary;
    }
    &-blackhole {
      border-color: @border-base-quaternary;
    }
  }
}
