@import '../../variables.less';

.ui-custom-modal-wrapper {
  --top: 64px;
  top: var(--top);
  padding: 0 !important;
  .ui-modal-confirm-paragraph {
    max-width: 100%;
  }

  &.full-screen {
    width: 100% !important;
    max-height: 100% !important;

    --top: 16px;

    .ui-custom-modal {
      height: calc(100vh - calc(var(--top) * 2));
      .ui-custom-modal-scroll-area {
        height: calc(100vh - calc(var(--top) * 2 + calc(var(--fh) * 1px)));
      }
    }
  }

  max-width: calc(100vw - calc(var(--top) * 2));
  max-height: calc(100vh - calc(var(--top) * 2));

  .ui-custom-modal {
    position: relative;
    max-height: calc(100vh - calc(var(--top) * 2));
    overflow: hidden;
    .ui-custom-modal-scroll-area {
      max-height: calc(100vh - calc(var(--top) * 2 + calc(var(--fh) * 1px)));
    }
    // &.exceed-height {
    //   .ui-custom-modal-scroll-area {
    //     height: 200px;
    //     flex: 1;
    //   }
    // }

    &-header {
      padding: @space-600 @space-400 @space-200;
      display: flex;
      gap: @space-200;
      align-items: center;
      .logo-wrapper {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        border-radius: @radius-200;
        flex-shrink: 0;
        background-color: @bg-base-layout-secondary;
      }
      .logo {
      }
      .title-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .title {
          color: @text-base-default;
          font-size: 14px;
          font-weight: 520;
          line-height: 20px;
        }
        .sub {
          font-size: 13px;
          display: flex;
          align-items: center;
          gap: 4px;
          .sub-title {
            color: @text-base-secondary;
            font-weight: 330;
            line-height: 20px;
          }
          .extra-toggle {
            color: @text-info-default;
            display: flex;
            align-items: center;
            gap: 2px;
            cursor: pointer;
          }
        }
      }
    }

    &-footer {
      padding: @space-400;
      .actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: @space-150;
      }
    }

    .rt-cont {
      position: absolute;
      top: 0px;
      right: 0px;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}
