@import '../../variables.less';

.ui-custom-modal {
  position: relative;
  &-wrapper {
    .ui-modal-confirm-paragraph {
      max-width: 100%;
    }
  }

  &.header-border {
    .ui-custom-modal-header {
      border-bottom: 1px solid @border-base-default;
    }
  }

  &-header {
    padding: @space-600 @space-400;
    display: flex;
    gap: @space-200;
    align-items: center;
    .logo-wrapper {
      display: flex;
      width: 44px;
      height: 44px;
      justify-content: center;
      align-items: center;
      border-radius: @radius-200;
      flex-shrink: 0;
      background-color: @bg-base-layout-secondary;
    }
    .logo {
    }
    .title-wrapper {
      .title {
        color: @text-base-default;
        font-size: 14px;
        font-weight: 520;
        line-height: 20px;
      }
      .sub {
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 4px;
        .sub-title {
          color: @text-base-secondary;
          font-weight: 330;
          line-height: 20px;
        }
        .extra-toggle {
          color: @text-info-default;
          display: flex;
          align-items: center;
          gap: 2px;
          cursor: pointer;
        }
      }
    }
  }

  &-footer {
    padding: @space-400;
    border-top: 1px solid @border-base-default;
    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: @space-200;
    }
  }

  .rt-cont {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    .act-btn {
      font-size: 14px;
      height: 28px;
      width: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
      color: @text-base-secondary;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: @bg-base-layout-secondary;
        color: @text-base-default;
      }
    }
    .close-btn {
    }
  }
}
