@import '../../variables.less';
@import '../../mixins.less';

.rotate {
  animation: rotate-ani 1.6s infinite linear;
}

@keyframes rotate-ani {
  100% {
    transform: rotate(360deg);
  }
}

.notDisabled(@rules) {
  &:not(:disabled):not(.ui-btn-disabled) {
    @rules();
  }
}

.componentFocusVisible(btn, {
  box-shadow: 0 0 4px 0 @bg-info-quaternary;
  border-color: @border-info-default;
  outline: none !important;
});

.typeComponent(@componentName, @typeClassName, @normalRules, @disabledRules, @hoverRules, @activeRules: @hoverRules) {
  .ui-@{componentName} {
    &-type-@{typeClassName} {
      &:not(.ui-@{componentName}-disabled) {
        @normalRules();
      }
      &.ui-@{componentName}-disabled {
        @disabledRules();
      }
      &:not(:disabled):not(.ui-@{componentName}-disabled):hover {
        @hoverRules();
        color: var(--text-color);
      }
      &:not(.ui-@{componentName}-disabled):active {
        @activeRules();
      }
    }
  }
}

// TODO 为了解决 一些样式 手 伸不进去， 复写 ui-btn-primary 的样式
.ui-btn.ui-btn-primary {
  border-color: transparent;
  background-color: @bg-base-spotlight;
  --text-color: @text-base-in-gray-default;
  border-radius: 6px;
  &:disabled {
    background-color: @bg-base-spotlight;
    opacity: 0.5;
    color: @text-base-in-gray-default;
  }

  .notDisabled({
    &:hover {
      background-color: @bg-base-spotlight-secondary;
      border-color: transparent;

    }
    &:active {
      box-shadow: 0 4px 8px 0 var(--effect-shadow-default, rgba(15, 17, 24, 0.1)) inset;
    }
  });
}

.componentRules(
  btn,
  {
    --text-color: @text-base-default;
    color: var(--text-color);
    border: 1px solid transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;

    // background-clip: padding-box;
    box-shadow: none;
    background-color: transparent;



    &-size {
      &-xs {
        border-radius: 6px;
        padding: 0 6px;
        gap: 2px;
        height: 20px;
      }
      &-sm {
        border-radius: 8px;
        padding: 2px 8px;
        gap: 4px;
        height: 24px;
      }
      &-md {
        border-radius: 8px;
        padding: 4px 10px;
        gap: 4px;
        height: 28px;
      }
      &-lg {
        border-radius: 8px;
        padding: 6px 12px;
        gap: 6px;
        height: 32px;
      }
      &-xl {
        border-radius: 8px;
        padding: 8px 12px;
        gap: 6px;
        height: 36px;
      }
    }

    &.ui-btn-icon-only {
      padding: 0;
      &.ui-btn {
        &-size {
          &-xs {
            width: 20px;
            height: 20px;
          }
          &-sm {
            width: 24px;
            height: 24px;
          }
          &-md {
            width: 28px;
            height: 28px;
          }
          &-lg {
            width: 32px;
            height: 32px;
          }
          &-xl {
            width: 36px;
            height: 36px;
          }
        }
      }

    }
  },
  {
    cursor: not-allowed;
    background: inherit;
    border-color: transparent;
  },
  {
  },
  {
    box-shadow: 0 4px 8px 0 var(--effect-shadow-default, rgba(15, 17, 24, 0.1)) inset;
  }
);

.typeComponent(
  btn,
  border,
  {
    border-color: @border-base-secondary;
  },
  {
    border-color: @border-base-default;
    color: @text-base-quaternary;
  },
  {
    border-color: @border-base-secondary;
    background-color: @bg-fill-deep-secondary;
  },
  {
  }
);

.typeComponent(
  btn,
  text,
  {
  },
  {
    border-color: @border-base-default;
    color: @text-base-quaternary;
  },
  {
    border-color: @border-base-secondary;
    background-color: @bg-fill-deep-secondary;
  },
  {
    background-color: @bg-fill-deep-tertiary;
  }
);

.typeComponent(
  btn,
  base,
  {
    background-color: @bg-base-container;
    box-shadow: 0 2px 4px -2px var(--effect-shadow-default, rgba(15, 17, 24, 0.1));
  },
  {
    background-color: @bg-base-container;
    color: @text-base-quaternary;

  },
  {
    border-color: @border-base-secondary;
  },
  {
    background-color: @bg-base-layout;
  }
);

.typeComponent(
  btn,
  primary,
  {
    background-color: @bg-base-spotlight;
    --text-color: @text-base-in-gray-default;
  },
  {
    background-color: @bg-base-spotlight;
    opacity: 0.5;
    color: @text-base-in-gray-default;
  },
  {
    background-color: @bg-base-spotlight-secondary;
    border-color: transparent;
  },
  {
    background-color: @bg-base-spotlight;
  }
);

.typeComponent(
  btn,
  danger,
  {
    background-color: @bg-primary-spotlight;
    --text-color: @text-base-in-coloer-default;
  },
  {
    background-color: @bg-primary-spotlight;
    opacity: 0.5;
    color: @text-base-in-coloer-default;
  },
  {
    background-color: @bg-primary-spotlight-secondary;
    border-color: transparent;
  },
  {
  }
);

.typeComponent(
  btn,
  secondary,
  {
    background-color: @bg-fill-deep-secondary;
    --text-color: @text-base-default;
  },
  {
    background-color: @bg-fill-deep-secondary;
    color: @text-base-quaternary;
  },
  {
    background-color: @bg-fill-deep-tertiary;
    border-color: @border-base-secondary;
  },
  {
  }
);
