@import '../variables.less';
@import '../mixins.less';

.ui {
  &-message {
    &-success {
      .anticon {
        color: @bg-success-spotlight !important;
      }
    }
    &-error {
      .anticon {
        color: @bg-error-spotlight !important;
      }
    }
    &-warning {
      .anticon {
        color: @bg-warning-spotlight !important;
      }
    }
    &-info {
      .anticon {
        color: @bg-info-spotlight !important;
      }
    }
  }

  &-tooltip {
    .ui-tooltip-inner {
      border-radius: 8px;
      background-color: @bg-base-mask;
    }
    .ui-tooltip-arrow::before {
      background-color: @bg-base-mask;
    }
  }
}

//  radio 配置
.checkedWrapper(@normalRules, @disabledRules, @hoverRules, @activeRules: @hoverRules) {
  .ui-radio-wrapper {
    @normalRules();
    &.ui-radio-wrapper-disabled {
      @disabledRules();
    }
    &:not(.ui-radio-wrapper-disabled):hover {
      @hoverRules();
    }
    &:not(.ui-radio-wrapper-disabled):active {
      @activeRules();
    }
  }
}

.checkedWrapper(
  {
    .ui-radio-checked {
      .ui-radio-inner {
        background-color: @bg-info-spotlight;
        border-color: transparent;
        &::after {
          background-color: @bg-base-container;
        }
      }
      &.ui-radio-disabled {
        .ui-radio-inner {
          background-color: @bg-info-quaternary;
          border-color: transparent;

          &::after {
            transform: scale(0.375)
          }
        }
      }
    }
  },
  {

  },
  {},
  {}
);

.componentRulesWrapper(
  radio,
  {
    .ui-radio-inner {
      background-color: @bg-base-container;
      border-color: @border-base-secondary;
    }
    color: @text-base-default;
  },
  {
    color: @text-base-quaternary
  },
  {
    .ui-radio:not(.ui-radio-checked) {
      .ui-radio-inner {
        border-color: @border-base-tertiary;
      }
    }
  },
  {}
);

// checkbox
.componentRules(
  checkbox,
  {
    &.ui-checkbox-checked {
      .ui-checkbox-inner {
        background-color: @bg-info-spotlight;
      }
    }
    .ui-checkbox-inner{
      border-color: @border-base-secondary;
      &::after {
        border-color: #ffffff;
      }
    }
  },
  {
    .ui-checkbox-inner {
      background-color: @bg-fill-deep-secondary
    }
    &.ui-checkbox-checked {
      .ui-checkbox-inner {
        border-color: transparent;
        background-color:  @bg-info-quaternary;
      }
    }
  },
  {
    .ui-checkbox-inner {
      border-color: @bg-info-spotlight-secondary;
    }
  }
);
