@import '../variables.less';
@import '../mixins.less';

.ui {
  &-message {
    .ui-message-notice-wrapper {
      .ui-message {
        &-success > .anticon {
          color: @bg-success-spotlight;
        }
        &-error > .anticon {
          color: @bg-error-spotlight;
        }
        &-warning > .anticon {
          color: @bg-warning-spotlight;
        }
        &-info > .anticon {
          color: @bg-info-spotlight;
        }
      }

      .ui-message-notice-content {
        background-color: @bg-base-container;
      }
    }
  }

  &-tooltip {
    .ui-tooltip-inner {
      border-radius: 8px;
      background-color: @bg-base-mask;
    }
    .ui-tooltip-arrow::before {
      background-color: @bg-base-mask;
    }
  }
}

//  radio 配置
.checkedWrapper(@normalRules, @disabledRules, @hoverRules, @activeRules: @hoverRules) {
  .ui-radio-wrapper {
    @normalRules();
    &.ui-radio-wrapper-disabled {
      @disabledRules();
    }
    &:not(.ui-radio-wrapper-disabled):hover {
      @hoverRules();
    }
    &:not(.ui-radio-wrapper-disabled):active {
      @activeRules();
    }
  }
}

.checkedWrapper(
  {
    .ui-radio-checked {
      .ui-radio-inner {
        background-color: @bg-info-spotlight;
        border-color: transparent;
        &::after {
          background-color: @bg-base-container;
        }
      }
      &.ui-radio-disabled {
        .ui-radio-inner {
          background-color: @bg-info-quaternary;
          border-color: transparent;

          &::after {
            transform: scale(0.375)
          }
        }
      }
    }
  },
  {

  },
  {},
  {}
);

.componentRulesWrapper(
  radio,
  {
    .ui-radio-inner {
      background-color: @bg-base-container;
      border-color: @border-base-secondary;
    }
    color: @text-base-default;
  },
  {
    color: @text-base-quaternary
  },
  {
    .ui-radio:not(.ui-radio-checked) {
      .ui-radio-inner {
        border-color: @border-base-tertiary;
      }
    }
  },
  {}
);

// checkbox
.componentRules(
  checkbox,
  {
    &.ui-checkbox-checked {
      .ui-checkbox-inner {
        background-color: @bg-info-spotlight;
      }
    }
    .ui-checkbox-inner{
      border-color: @border-base-secondary;
      width: 14px;
      height: 14px;
      &::after {
        border-color: #ffffff;
        inset-inline-start: 22%
      }
    }
    &.ui-checkbox-indeterminate {
      .ui-checkbox-inner {
        background-color: @bg-info-spotlight;
        border-color: transparent;
        &::after {
          height: 1px;
          background-color: #ffffff;
          inset-inline-start: 50%
        }
      }
    }
  },
  {
    .ui-checkbox-inner {
      background-color: @bg-fill-deep-secondary;
      border-color: transparent;
    }
    &.ui-checkbox-checked {
      .ui-checkbox-inner {
        border-color: transparent;
        background-color:  @bg-info-quaternary;
      }
    }
    &.ui-checkbox-indeterminate {
      .ui-checkbox-inner {
        border-color: transparent;
        background-color:  @bg-info-quaternary;
        &::after {
          height: 1px;
          background-color: #ffffff;
        }
      }
    }
  },
  {
    .ui-checkbox-inner {
      border-color: @bg-info-spotlight-secondary;
    }
  }
);

// switch

.ui-switch {
  border-radius: 6px;
  box-shadow: none !important;

  background-color: @bg-fill-deep-tertiary;

  &:not(.ui-switch-disabled):hover {
    background-color: @bg-fill-deep-quaternary;
  }

  &.ui-switch-checked {
    background-color: @bg-info-spotlight;
    .ui-switch-handle::before {
      background-color: @text-base-in-coloer-default;
    }
  }
  .ui-switch-handle::before {
    border-radius: 4px;
    background-color: @bg-base-container;
  }
}
