@import '../../variables.less';

// .ui {
//   &-message {
//     color: @text-base-default;
//     .ui-message-notice-wrapper {
//       .ui-message {
//         &-success > .anticon {
//           color: @bg-success-spotlight;
//         }
//         &-error > .anticon {
//           color: @bg-error-spotlight;
//         }
//         &-warning > .anticon {
//           color: @bg-warning-spotlight;
//         }
//         &-info > .anticon {
//           color: @bg-info-spotlight;
//         }
//       }

//       .ui-message-notice-content {
//         background-color: @bg-base-container;
//         border-radius: @radius-300;
//         border: 1px solid @border-base-secondary;
//         box-shadow: @drop-shadow-100;
//       }
//     }
//   }
// }

.ui-message {
  color: @text-base-default;
  font-size: 13px;
  &.ui-message {
    &-success .anticon {
      color: @bg-success-spotlight !important;
      font-size: 14px !important;
    }
    &-error .anticon {
      color: @bg-error-spotlight !important;
      font-size: 14px !important;
    }
    &-warning .anticon {
      color: @bg-warning-spotlight !important;
      font-size: 14px !important;
    }
    &-info .anticon {
      color: @bg-info-spotlight !important;
      font-size: 14px !important;
    }
  }

  & > div {
    background-color: @bg-base-container !important;
    border-radius: @radius-300 !important;
    border: 1px solid @border-base-secondary !important;
    box-shadow: @drop-shadow-100 !important;
  }
}
