@import '../variables.less';

.ui-drag-core {
  --bg: transparent;
  .drag-handle {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    width: 8px;
    cursor: col-resize;
    z-index: 1;
    user-select: none;

    &.active {
      --bg: @border-info-default;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 2px;
      background-color: var(--bg);
      transform: translateX(-50%);
    }
  }

  &:hover {
    --bg: @bg-info-tertiary;
  }
}

.ui {
  &-table {
    overflow: auto;
    &-wrapper {
      background-color: @bg-base-container;
      border-radius: 8px;
      padding-top: 8px;

      table {
        background-color: @bg-base-container;
      }

      --th: 36px;
      --td-py: 16px;
      --border-width: 100%;
      --border-left: 0;
      --td-radius: 0;

      td.ui-table-column-sort {
        background: none;
      }

      .ui-table-pagination.ui-pagination {
        margin: 8px 0;
      }

      .table-sort-icon {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 4px;
        margin-left: 8px;

        line-height: 1;
        .arrow-down {
          margin-top: -4px;
        }
      }

      &.lg {
        --th: 64px;
      }

      &.withRadius {
        padding-inline: 8px;
        --border-width: calc(100% - calc(var(--td-py) * 2));
        --border-left: var(--td-py);
        --td-radius: 8px;
      }

      .ui-table-thead {
        & > tr > th {
          padding: 0 var(--td-py);
          white-space: nowrap;

          font-weight: inherit;
          color: @text-base-tertiary;
          background-color: @bg-base-container;
          border: none;

          &:hover {
            color: @text-base-secondary;
          }

          &::before {
            display: none;
          }
        }
        tr {
          height: 32px;
        }

        th.ui-table-column-sort {
          background: none;
        }
      }

      .ui-table-tbody {
        & > tr > td {
          padding: 0 var(--td-py);
          white-space: nowrap;
          border: none;

          overflow: hidden;
          text-overflow: ellipsis;

          &:focus-within {
            background-color: @bg-info-default;
          }

          &:first-child {
            border-top-left-radius: var(--td-radius);
            border-bottom-left-radius: var(--td-radius);
          }
          &:last-child {
            border-top-right-radius: var(--td-radius);
            border-bottom-right-radius: var(--td-radius);
          }
        }
        tr {
          height: var(--th);
          position: relative;
          transition: all 0.2s ease-in-out;
          background-color: @bg-base-container;

          &:not(.ui-table-placeholder):hover {
            background-color: @bg-fill-deep-default;
          }

          &::after {
            content: '';
            position: absolute;
            bottom: -0;
            left: var(--border-left);
            width: var(--border-width);
            height: 1px;
            background-color: @border-base-default;
          }
        }
      }
    }
  }
}
