@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Border-Base-Secondary: rgba(15, 17, 24, 0.1);
  --Effect-Interactive-Activate-Cave: rgba(15, 17, 24, 0.05);
  --Effect-Interactive-Hover-Cave: rgba(15, 17, 24, 0.03);
  --Effect-Interactive-Hover-Convex: hsla(0, 0%, 100%, 0.25);
  --Effect-Shadow-Default: rgba(15, 17, 24, 0.1);
  --Border-Info-Default: rgba(20, 116, 242, 1);
  --Bg-Info-Tertiary: rgba(20, 116, 242, 0.25);
  --Bg-Base-Container: rgba(255, 255, 255, 1);
  --Bg-Base-Spotlight: rgba(37, 38, 43, 1);
  --Bg-Primary-Quaternary: hsla(356, 92%, 61%, 1);
  --Bg-Fill-Tertiary: hsla(227, 23%, 8%, 0.05);

  --Text-Base-Default: rgba(255, 255, 255, 1);
  --Text-Base-In-Gray-Default: rgba(255, 255, 255, 1);

  /* size */
  --sds-size-depth-0: 0;
  --sds-size-depth-100: 4px;
  --sds-size-depth-200: 8px;

  --sds-size-radius-100: 6px;
  --sds-size-radius-200: 8px;

  --sds-size-space-050: 2px;
  --sds-size-space-100: 4px;
  --sds-size-space-150: 6px;
  --sds-size-space-200: 8px;
  --sds-size-space-300: 12px;

  --Space-250: 10px;
}

.dark {
  --Border-Base-Secondary: rgba(255, 255, 255, 0.1);
  --Effect-Interactive-Activate-Cave: rgba(0, 0, 0, 0.25);
  --Effect-Interactive-Hover-Cave: rgba(0, 0, 0, 0.15);
  --Effect-Interactive-Hover-Convex: hsla(0, 0%, 0%, 0.2);
  --Effect-Shadow-Default: rgba(0, 0, 0, 0.3);
  --Border-Info-Default: rgba(20, 116, 242, 1);
  --Bg-Info-Tertiary: rgba(20, 116, 242, 0.4);
  --Bg-Base-Container: rgba(45, 46, 53, 1);
  --Bg-Base-Spotlight: rgba(236, 237, 241, 1);
  --Bg-Primary-Quaternary: hsla(356, 100%, 67%, 1);
  --Bg-Fill-Tertiary: hsla(0, 0%, 0%, 0.15);

  --Text-Base-Default: rgba(255, 255, 255, 1);
  --Text-Base-In-Gray-Default: rgba(15, 17, 24, 1);

  /* size */
  --sds-size-depth-0: 0;
  --sds-size-depth-100: 4px;
  --sds-size-depth-200: 8px;

  --sds-size-radius-100: 6px;
  --sds-size-radius-200: 8px;

  --sds-size-space-050: 2px;
  --sds-size-space-100: 4px;
  --sds-size-space-150: 6px;
  --sds-size-space-200: 8px;
  --sds-size-space-300: 12px;

  --Space-250: 10px;
}
