.textColor(@color, @hoverColor, @disableColor, @activeColor: @color) {
  color: @color;

  &:not(:disabled):hover {
    color: @hoverColor;
  }

  &:not(:disabled):active {
    color: @activeColor;
  }

  &:disabled {
    color: @disableColor;
    cursor: not-allowed;
  }
}

.validHover(@notValidComponent, @rules) {
  &:not(.ui-@{notValidComponent}-disabled):hover {
    @rules();
  }
}

.componentFocusVisible(@componentName, @rules) {
  .ui-@{componentName} {
    &:not(.ui-@{componentName}-disabled) {
      &:focus-visible {
        @rules();
      }
    }
  }
}

.componentHover(@componentName, @rules) {
  .ui-@{componentName} {
    &:not(.ui-@{componentName}-disabled):hover {
      @rules();
    }
  }
}

.componentRules(@componentName, @normalRules, @disabledRules, @hoverRules, @activeRules: @hoverRules) {
  .ui-@{componentName} {
    @normalRules();
    &.ui-@{componentName}-disabled {
      @disabledRules();
    }
    &:not(.ui-@{componentName}-disabled):hover {
      @hoverRules();
    }
    &:not(.ui-@{componentName}-disabled):active {
      @activeRules();
    }
  }
}

.componentRulesWrapper(@componentName, @normalRules, @disabledRules, @hoverRules, @activeRules: @hoverRules) {
  .ui-@{componentName}-wrapper {
    @normalRules();
    &.ui-@{componentName}-wrapper-disabled {
      @disabledRules();
    }
    &:not(.ui-@{componentName}-wrapper-disabled):hover {
      @hoverRules();
    }
    &:not(.ui-@{componentName}-wrapper-disabled):active {
      @activeRules();
    }
  }
}

// 修正后的写法
.notDisabledHover(@hoverStyles) {
  &:not(:disabled):hover {
    @hoverStyles();
  }
}

.notDisabledActive(@activeStyles) {
  &:not(:disabled):active {
    @activeStyles();
  }
}
