.visible {
    visibility: visible
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem
}
.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem
}
.mt-2 {
    margin-top: 0.5rem
}
.mt-4 {
    margin-top: 1rem
}
.block {
    display: block
}
.inline {
    display: inline
}
.flex {
    display: flex
}
.contents {
    display: contents
}
.hidden {
    display: none
}
.h-\[1px\] {
    height: 1px
}
.w-1 {
    width: 0.25rem
}
.w-20 {
    width: 5rem
}
.w-60 {
    width: 15rem
}
.w-full {
    width: 100%
}
.flex-1 {
    flex: 1 1 0%
}
.flex-shrink-0 {
    flex-shrink: 0
}
.flex-col {
    flex-direction: column
}
.items-center {
    align-items: center
}
.justify-end {
    justify-content: flex-end
}
.justify-center {
    justify-content: center
}
.gap-1 {
    gap: 0.25rem
}
.gap-2 {
    gap: 0.5rem
}
.rounded-full {
    border-radius: 9999px
}
.border {
    border-width: 1px
}
.border-solid {
    border-style: solid
}
.border-borderBase-default {
    border-color: var(--border-base-default)
}
.bg-borderBase-default {
    background-color: var(--border-base-default)
}
.p-0 {
    padding: 0px
}
.p-1\.5 {
    padding: 0.375rem
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem
}
.\!text-xs {
    font-size: 0.75rem !important;
    line-height: 1rem !important
}
.italic {
    font-style: italic
}
.underline {
    text-decoration-line: underline
}
.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
