.pointer-events-none {
    pointer-events: none
}
.visible {
    visibility: visible
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.-bottom-1\.5 {
    bottom: -0.375rem
}
.-bottom-8 {
    bottom: -2rem
}
.-left-1\.5 {
    left: -0.375rem
}
.-right-1\.5 {
    right: -0.375rem
}
.-top-1\.5 {
    top: -0.375rem
}
.-top-10 {
    top: -2.5rem
}
.left-1\/2 {
    left: 50%
}
.right-0 {
    right: 0px
}
.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem
}
.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem
}
.-mt-2 {
    margin-top: -0.5rem
}
.mt-1 {
    margin-top: 0.25rem
}
.mt-2 {
    margin-top: 0.5rem
}
.mt-4 {
    margin-top: 1rem
}
.mr-1\.5 {
    margin-right: 0.375rem
}
.box-border {
    box-sizing: border-box
}
.block {
    display: block
}
.inline-block {
    display: inline-block
}
.inline {
    display: inline
}
.flex {
    display: flex
}
.grid {
    display: grid
}
.contents {
    display: contents
}
.hidden {
    display: none
}
.h-\[160px\] {
    height: 160px
}
.h-\[1px\] {
    height: 1px
}
.h-full {
    height: 100%
}
.h-3 {
    height: 0.75rem
}
.h-3\.5 {
    height: 0.875rem
}
.h-4 {
    height: 1rem
}
.h-8 {
    height: 2rem
}
.w-1 {
    width: 0.25rem
}
.w-20 {
    width: 5rem
}
.w-60 {
    width: 15rem
}
.w-\[360px\] {
    width: 360px
}
.w-full {
    width: 100%
}
.w-3 {
    width: 0.75rem
}
.w-3\.5 {
    width: 0.875rem
}
.w-4 {
    width: 1rem
}
.w-72 {
    width: 18rem
}
.w-8 {
    width: 2rem
}
.flex-1 {
    flex: 1 1 0%
}
.flex-shrink-0 {
    flex-shrink: 0
}
.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-x-1\/2 {
    --tw-translate-x: 50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cursor-ne-resize {
    cursor: ne-resize
}
.cursor-nw-resize {
    cursor: nw-resize
}
.cursor-pointer {
    cursor: pointer
}
.cursor-se-resize {
    cursor: se-resize
}
.cursor-sw-resize {
    cursor: sw-resize
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}
.flex-col {
    flex-direction: column
}
.items-start {
    align-items: flex-start
}
.items-center {
    align-items: center
}
.justify-end {
    justify-content: flex-end
}
.justify-center {
    justify-content: center
}
.gap-1 {
    gap: 0.25rem
}
.gap-2 {
    gap: 0.5rem
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}
.space-y-1\.5 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.375rem * var(--tw-space-y-reverse))
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse))
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}
.whitespace-nowrap {
    white-space: nowrap
}
.rounded-full {
    border-radius: 9999px
}
.rounded-md {
    border-radius: 0.375rem
}
.rounded {
    border-radius: 0.25rem
}
.border {
    border-width: 1px
}
.border-0 {
    border-width: 0px
}
.border-2 {
    border-width: 2px
}
.border-solid {
    border-style: solid
}
.border-borderBase-default {
    border-color: var(--border-base-default)
}
.border-borderBase-secondary {
    border-color: var(--border-base-secondary)
}
.border-blue-500 {
    border-color: rgba(20, 116, 242, 1)
}
.border-\[\#5d15f2\] {
    --tw-border-opacity: 1;
    border-color: rgb(93 21 242 / var(--tw-border-opacity, 1))
}
.bg-borderBase-default {
    background-color: var(--border-base-default)
}
.bg-blue-500 {
    background-color: rgba(20, 116, 242, 1)
}
.bg-transparent {
    background-color: transparent
}
.bg-white-1000 {
    background-color: rgba(255, 255, 255, 1)
}
.bg-\[\#5d15f2\] {
    --tw-bg-opacity: 1;
    background-color: rgb(93 21 242 / var(--tw-bg-opacity, 1))
}
.object-contain {
    -o-object-fit: contain;
       object-fit: contain
}
.p-0 {
    padding: 0px
}
.p-1\.5 {
    padding: 0.375rem
}
.p-2 {
    padding: 0.5rem
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
.\!text-xs {
    font-size: 0.75rem !important;
    line-height: 1rem !important
}
.text-\[30px\] {
    font-size: 30px
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.font-\[450\] {
    font-weight: 450
}
.font-medium {
    font-weight: 500
}
.font-normal {
    font-weight: 400
}
.italic {
    font-style: italic
}
.text-textBase-secondary {
    color: var(--text-base-secondary)
}
.text-textBase-tertiary {
    color: var(--text-base-tertiary)
}
.text-textError-default {
    color: var(--text-error-default)
}
.text-textSuccess-default {
    color: var(--text-success-default)
}
.text-white-1000 {
    color: rgba(255, 255, 255, 1)
}
.underline {
    text-decoration-line: underline
}
.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
.outline {
    outline-style: solid
}
.ring-2 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}
.ring-\[2px\] {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}
.ring-inset {
    --tw-ring-inset: inset
}
.ring-blue-500 {
    --tw-ring-color: rgba(20, 116, 242, 1)
}
.ring-\[\#5d15f2\] {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(93 21 242 / var(--tw-ring-opacity, 1))
}
.ring-offset-2 {
    --tw-ring-offset-width: 2px
}
.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms
}
.hover\:scale-125:hover {
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
