.pointer-events-none {
    pointer-events: none
}
.visible {
    visibility: visible
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.-bottom-1\.5 {
    bottom: -0.375rem
}
.-bottom-8 {
    bottom: -2rem
}
.-left-1\.5 {
    left: -0.375rem
}
.-right-1\.5 {
    right: -0.375rem
}
.-top-1\.5 {
    top: -0.375rem
}
.left-1\/2 {
    left: 50%
}
.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem
}
.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem
}
.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}
.-mt-2 {
    margin-top: -0.5rem
}
.mb-2 {
    margin-bottom: 0.5rem
}
.mt-1 {
    margin-top: 0.25rem
}
.mt-2 {
    margin-top: 0.5rem
}
.mt-4 {
    margin-top: 1rem
}
.box-border {
    box-sizing: border-box
}
.block {
    display: block
}
.inline-block {
    display: inline-block
}
.inline {
    display: inline
}
.flex {
    display: flex
}
.inline-flex {
    display: inline-flex
}
.contents {
    display: contents
}
.hidden {
    display: none
}
.h-10 {
    height: 2.5rem
}
.h-3 {
    height: 0.75rem
}
.h-\[160px\] {
    height: 160px
}
.h-\[1px\] {
    height: 1px
}
.h-full {
    height: 100%
}
.w-1 {
    width: 0.25rem
}
.w-10 {
    width: 2.5rem
}
.w-20 {
    width: 5rem
}
.w-3 {
    width: 0.75rem
}
.w-60 {
    width: 15rem
}
.w-\[360px\] {
    width: 360px
}
.w-full {
    width: 100%
}
.flex-1 {
    flex: 1 1 0%
}
.flex-shrink-0 {
    flex-shrink: 0
}
.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.cursor-ne-resize {
    cursor: ne-resize
}
.cursor-nw-resize {
    cursor: nw-resize
}
.cursor-pointer {
    cursor: pointer
}
.cursor-se-resize {
    cursor: se-resize
}
.cursor-sw-resize {
    cursor: sw-resize
}
.flex-col {
    flex-direction: column
}
.items-center {
    align-items: center
}
.justify-end {
    justify-content: flex-end
}
.justify-center {
    justify-content: center
}
.gap-1 {
    gap: 0.25rem
}
.gap-2 {
    gap: 0.5rem
}
.gap-8 {
    gap: 2rem
}
.whitespace-nowrap {
    white-space: nowrap
}
.rounded {
    border-radius: 0.25rem
}
.rounded-full {
    border-radius: 9999px
}
.rounded-md {
    border-radius: 0.375rem
}
.border {
    border-width: 1px
}
.border-0 {
    border-width: 0px
}
.border-2 {
    border-width: 2px
}
.border-solid {
    border-style: solid
}
.border-\[\#5d15f2\] {
    --tw-border-opacity: 1;
    border-color: rgb(93 21 242 / var(--tw-border-opacity, 1))
}
.border-borderBase-default {
    border-color: var(--border-base-default)
}
.border-borderBase-secondary {
    border-color: var(--border-base-secondary)
}
.bg-\[\#5d15f2\] {
    --tw-bg-opacity: 1;
    background-color: rgb(93 21 242 / var(--tw-bg-opacity, 1))
}
.bg-borderBase-default {
    background-color: var(--border-base-default)
}
.bg-white-1000 {
    background-color: var(--white-1000)
}
.object-contain {
    -o-object-fit: contain;
       object-fit: contain
}
.p-0 {
    padding: 0px
}
.p-1\.5 {
    padding: 0.375rem
}
.p-2 {
    padding: 0.5rem
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
.\!text-xs {
    font-size: 0.75rem !important;
    line-height: 1rem !important
}
.text-\[30px\] {
    font-size: 30px
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem
}
.font-\[450\] {
    font-weight: 450
}
.italic {
    font-style: italic
}
.text-textBase-secondary {
    color: var(--text-base-secondary)
}
.text-textBase-tertiary {
    color: var(--text-base-tertiary)
}
.text-textError-default {
    color: var(--text-error-default)
}
.text-textSuccess-default {
    color: var(--text-success-default)
}
.text-white-1000 {
    color: var(--white-1000)
}
.underline {
    text-decoration-line: underline
}
.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms
}
.hover\:scale-125:hover {
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
