.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.mt-2 {
    margin-top: 0.5rem
}
.mt-4 {
    margin-top: 1rem
}
.block {
    display: block
}
.inline {
    display: inline
}
.flex {
    display: flex
}
.contents {
    display: contents
}
.hidden {
    display: none
}
.w-1 {
    width: 0.25rem
}
.w-20 {
    width: 5rem
}
.w-60 {
    width: 15rem
}
.flex-1 {
    flex: 1 1 0%
}
.flex-shrink-0 {
    flex-shrink: 0
}
.items-center {
    align-items: center
}
.justify-end {
    justify-content: flex-end
}
.gap-2 {
    gap: 0.5rem
}
.gap-1 {
    gap: 0.25rem
}
.border {
    border-width: 1px
}
.p-0 {
    padding: 0px
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
.italic {
    font-style: italic
}
.underline {
    text-decoration-line: underline
}
.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
